<div class="container">

<h1>魔法之风 沉睡的人</h1>
<% if current_user %>
<div class="add-news" onclick="window.location='<%= new_game_path %>';">
</div>
<% end %>

<div class="row">
  <% @games.each do |game| %>
	<div class="col-md-12 game-info" onclick="window.location='<%= game_path(game) %>';" style="background-image: url(<%= game.image(:title) %>);">
		<a class="game-title"><%= game.name %></a><br>
		<a>游戏简介:<%= game.game_info %></a><br>
		<a>平台:<%= game.platform %></a><br>
		<a><%= game.game_publisher %></a><br>
	</div>
  <% end %>
</div>

</div>