<div class="container">

<h1>魔法之风 沉睡的人</h1>
<% if current_user %>
<div class="add-news" onclick="window.location='<%= new_game_path %>';">
	<i class="fa fa-plus" style="margin-left: 1px;margin-top: 20px;"></i>
</div>
<% end %>

<div class="row">
  <% @games.each do |game| %>
	<div class="game-info" onclick="window.open('<%= game_path(game) %>', '_blank');" style="background-image: url(<%= game.image(:original) %>);">
		<a class="game-title"><%= game.name %></a><br>
		<a>游戏简介:<%= game.game_info %></a><br>
		<a>平台:<%= game.platform %></a><br>
		<a><%= game.game_publisher %></a><br>
	</div>
  <% end %>
</div>

</div>