<h1>New Game</h1>
<%= form_for @game, url: {action: "create"}, html: {class: "nifty_form"} do |g| %>
  <p>
    <%= g.label :name %><br>
    <%= g.text_field :name %>
  </p>

  <p>
    <%= g.label :image %><br>
    <%= g.text_field :image %>
  </p>

  <p>
    <%= g.label :platform %><br>
    <%= g.text_field :platform %>
  </p>
 
  <p>
    <%= g.label :game_info %><br>
    <%= g.text_area :game_info %>
  </p>
 
  <p>
    <%= g.submit "Create" %>
  </p>
<% end %>