<p>
  <strong>name:</strong>
  <%= @game.name %>
</p>
 
<p>
  <strong>game_info:</strong>
  <%= @game.game_info %>
</p>

<%= link_to 'back', game_index_path %>

<%= render partial: 'shared/comment_list', locals: {comments: @comments} %>

<%= render partial: 'shared/comment_box', locals: {game: @game} %>