<div class="container">
<%= image_tag(@game.image(:normal)) %>
<p>
  <strong>name:</strong>
  <%= @game.name %>
</p>
<p>
  <strong>game_info:</strong>
  <%= @game.game_info %>
</p>

<% if current_user && current_user == @game.user %>
	<%= link_to 'edit', edit_game_path %>
	<%= link_to 'Destroy', game_path(@game), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<div class="replies">
<% @comments.each do |c| %>
  <%= render partial: 'shared/comment', locals: {c: c} %>
<% end %>
</div>

<% if current_user %>
	<%= render partial: 'shared/comment_box', locals: {game: @game} %>
<% else %>
	<%= link_to "登录发评论", login_path %>
<% end %>
</div>