<div class="container">
<%= image_tag @game.image %>
<p>
  <strong>name:</strong>
  <%= @game.name %>
</p>
<p>
  <strong>game_info:</strong>
  <%= @game.game_info %>
</p>
<%= link_to 'back', game_index_path %>
<div class="replies">
<% @comments.each do |c| %>
  <%= render partial: 'shared/comment', locals: {c: c} %>
<% end %>
</div>
<%= render partial: 'shared/comment_box', locals: {game: @game} %>
</div>