<div class="container">
	<h1>编辑用户</h1>
	<%= form_for @user, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
		<p><strong>name:</strong><%= @user.name %></p>
		<p>
		    <%= f.label :email %><br>
		    <%= f.text_field :email %>
		</p>
		<p>
		    <%= f.label :user_info %><br>
		    <%= f.text_field :user_info %>
		</p>
		<%= f.file_field :avatar %>  
	    <p>
	    	<%= f.submit "更新" %>
	    </p>
	<% end %>

	<%= link_to '返回', user_path %>
</div>