<div class="container">
	<div class="circle-button" onclick="window.location='<%= root_path %>';">
		<i class="fa fa-reply" style="margin-left: 1px;margin-top: 20px;"></i>
	</div>
	<%= image_tag @user.avatar.url(:normal), class: "user_avatar"%>
	<h1><%= @user.name %></h1>
	<p><%= @user.user_info %></p>

	<div class="game-row">
		<% if current_user && current_user == @user %>
			<h3>我提交的游戏:</h3>
		<% else %>
			<h3>该用户提交的游戏:</h3>
		<% end %>
		<div class="row">
			<% @game.each do |game| %>
		 	<div class="col-md-4 game-list" onclick="window.location='<%= game_path(game) %>';">
		 		<%= image_tag game.image(:s48), class: "game-ico" %>
		 		<a class="user-game-title"><%= game.name %></a><br></a>
		 		<% if current_user && current_user == @user %>
				<a><%= link_to '编辑', edit_game_path(game) %></a>
				<a><%= link_to '删除', game_path(game.id), method: :delete, data: { confirm: 'Are you sure?' } %><a>
				<% end %>
		 	</div>
		 	<% end %>
		</div>
	</div>
	<% if current_user && current_user == @user %>
	<div class="circle-button-left" onclick="window.location='<%= edit_user_path %>';">
		<i class="fa fa-cog" style="margin-left: 1px;margin-top: 20px;"></i>
	</div>
	<% end %>
</div>