<div class="reply clearfix">
  <div class="user-info">
    <div class="user-avatar">
      <%=link_to user_path(c.user) do %>
        <%= image_tag c.user.avatar.url(:small), class: 'image-circle' %>
      <% end %>
    </div>
    <div class="user-name">
      <span><%=link_to c.user.name, user_path(c.user) %></span>
    </div>
    <div class="user-time">
      <span><%= time_ago_in_words c.created_at %>前</span>
    </div>
  </div>
  <div class="user-comment">
    <div class="heading">
      <span class="content">
        <p><%= markdown(c.content) %></p>
      </span>
    </div>
  </div>
</div>