<!DOCTYPE html>
<html>
<head>
  <title>GameApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to "主页", root_path %></li>
      <li><%= link_to "游戏", root_path %></li>
      <li><%= link_to "关于", about_path %></li>
    </ul>
    <ul class="nav navbar-nav" style="float:right;">
      <% if current_user %>
        <li><%= link_to current_user.name, user_path(current_user.id) %></li>
        <li><%= link_to "登出", logout_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "登录", login_path %></li>
        <li><%= link_to "注册", signup_path %></li>
      <% end %>
    <ul>
  </div>
</nav>

<% if flash.notice %>
  <div class="notice"><%= flash.notice %></div>
<% end %>

<%= yield %>

<script>
  var hideNotice = function(){
    $(".notice").fadeOut("slow");
  }
  setTimeout(hideNotice, 2000);
</script>

</body>
</html>
